body {
  background: blanchedalmond;  
}

.a {
  border: 1px solid red;
  padding: 15px;
}

.b {
  width: 60.6%;
  float: left;
  padding: 41px;
  border: 1px solid red;
}

.c {
  width: 30.55%;
  float: right;
  padding: 41px;
  border: 1px solid red;}